    <header id="header">
        <nav id="nav">
            <button area-label="Abrir menu" id="btn-mobile" araia-popup="true" aria-controls="menu" aria-expanded="false">
                <span id="hamburguer"></span>
            </button>
            
            <ul id="menu" role="menu">
                <li><a routerLink="/main">Home</a></li>
                <li><a routerLink="ecommerce">Headshop</a></li>
                <Li><a>Contato</a></Li>
                <li><a routerLink="/ecommmerce"><img src="../../assets/imagem/icones/ecommerce.png" alt="Ecommerce"></a></li>
                <li><a routerLink="/login"><img src="../../assets/imagem/icones/Usuario.png" alt="login"></a></li>
            </ul>
        </nav>
    </header>

