    <!--Rodapé Contato-->
    
    
        <div class="container1">
            <div class="rodape">
                <section class="footer">
                    <div class="container">
                        <div class="Contato">
                            <div class="titulo-contato">
                                <a href="#">Contato: </a>
                            </div>
                        <!--Icones contatos-->
                            <div class="lista-comunicacao">
                
                                <div class="imgredes">
                                    <a href="falacomigo@headshot.com"><img src="../../assets/imagem/icones/mail.svg" width="30" height="30" alt=""></a>
                                 </div>
                
                                 <div class="imgredes">
                                    <a href="(xx) xxxxx-xxxx"><img src="../../assets/imagem/icones/phone.svg" width="36" height="30" alt=""></a>
                                 </div>
        
                                 <div class="imgredes">
                                    <a href="#"><img src="../../assets/imagem/icones/whatsapp.svg" width="40" height="30" alt=""></a>
                                 </div>
        
                            </div>

                        </div>
                
                    </div>
                
                </section>
            
    
    <!--Rodapé Redes Sociais -->
    
    <section class="sessao2-footer">
        <div class="container">
            <div class="comunicacao">
                <div class="titulo-contato">
                    <a href="#">Nossas Redes:</a>
                </div>
                    <!-- Icones Redes Sociais-->
                <div class="lista-comunicacao">
                    <div class="imgredes">
                        <a href="#"><img src="../../assets/imagem/icones/facebook 1.svg" width="40" height="30" alt=""></a>
                    </div>
                    
                    <div class="imgredes">
                        <a href="#"><img src="../../assets/imagem/icones/instagram 1.svg" width="30" height="30" alt=""></a>
                    </div>
                    <!-- Fim Dos Incones -->
                </div>
            </div>
        </div>    
    </section>
    
