
      
        <div class="container-row1">
            <div class="row">
                <!--"Caixa de pesquisa -->
                <div class="input-group">
                    <hr>
                    <form >
                        <div >
                            <!--Botão Busca-->
                            <input type="text" class="form-control" placeholder="Digite aqui o que procura">
                            <button class="btn-busca">
                                Buscar
                            </button>
                        </div>
                    </form>
                    
                    <!--botoes de paginação-->
                    
                    <div class="group_pag">
                        <!-- Botoes das paginas -->
                        <ul class="paginacao">
                            <li class="pag-item">1</li>
                            <li class="pag-item disabled">2</li>
                            <li class="pag-item disabled">3</li>
                        </ul>
                       
                        <!-- caixa de Ordenação -->
                       
                        <div >
                            <form class="ordenacao">
                                <select class="ordenacao">
                                    <option value="">Ordenar por maior valor</option>
                                    <option value="">Ordenar por menor Valor</option>
                                    <option value="">Ordenar por Nome</option>
                                </select>
                            </form>
                        </div>
                    </div>
                
                    <hr>
                </div>
            
        </div>
    

    <!-- Cards -->
    
        <div class="container">
            <div class="card">
                <img class="imgJogo" src="./imagem/games/NBA.png" alt="NBA">
                <div class="content">
                    
                    <h3>NBA 2K21 Zion Edition - Xbox Series X</h3>
                    <p>R$ 89,99</p>
                    <a href="#">Mais Informações</a>
                </div>
            </div>
            
            <div class="card">
                <img class="imgJogo" src="./imagem/games/the_falconeer_day_one_edition_xbox_one_xbox_series.png" alt="Falconeer Day One Edition Xbox one & Xbox Series">
                <div class="content">
                    <h3>The Falconeer Day One Edition | Xbox One & Xbox Series X</h3>
                    <p>R$ 134,99</p>
                    <a href="#">Mais Informações</a>
                </div>
            </div>
            
            <div class="card">
                <img class="imgJogo" src="./imagem/games/f1_2021_xbox_series_x_xbox_one.png" alt="Formula 1 2021 | X Box">
                <div class="content">
                    <h3>Formula 1 2021 | XBox & XBox Series</h3>
                    <p>R$ 150,99</p>
                    <a href="#">Mais Informações</a>
                </div>
            </div>

            <div class="card">
                <img class="imgJogo" src="./imagem/games/golem_vr_ps4.png" alt="NBA">
                <div class="content">
                  <h3>Golem (VR) | PS4</h3>
                  <p>R$ 206,99</p>
                  <a href="#">Mais Informações</a>
                </div>
            </div>

            <div class="card">
                <img class="imgJogo" src="./imagem/games/tonyHalkproskater[1+2].png" alt="Tony Halk 1 + 2">
                <div class="content"> 
                    <h3>Tony Hawk's Pro Skater 1 + 2 para Nintendo Switch</h3>
                    <p>R$ 224,90</p>
                    <a href="#">Mais Informações</a>
                </div>
            </div>
            <div class="card">
                <img class="imgJogo" src="./imagem/games/NBA.png" alt="NBA">
                <div class="content">
                    
                    <h3>NBA 2K21 Zion Edition - Xbox Series X</h3>
                    <p>R$ 89,99</p>
                    <a href="#">Mais Informações</a>
                </div>
            </div>
   

    <!--Anterio ao Rodapé-->
    
      
        <div class="container">
            <div class="row">
                <!--"Caixa de pesquisa -->
                <div class="input-group">
                    <hr>
                    <form >
                        <div >
                            <!--Botão Busca-->
                            <input type="text" class="form-control" placeholder="Digite aqui o que procura">
                            <button class="btn-busca">
                                Buscar
                            </button>
                        </div>
                    </form>
                    
                    <!--botoes de paginação-->
                    
                    <div class="group_pag">
                        <!-- Botoes das paginas -->
                        <ul class="paginacao">
                            <li class="pag-item">1</li>
                            <li class="pag-item disabled">2</li>
                            <li class="pag-item disabled">3</li>
                        </ul>
                       
                        <!-- caixa de Ordenação -->
                        
                        <div >
                            <form class="ordenacao">
                                <select class="ordenacao">
                                    <option value="">Ordenar por maior valor</option>
                                    <option value="">Ordenar por menor Valor</option>
                                    <option value="">Ordenar por Nome</option>
                                </select>
                            </form>
                        </div>

                    </div>
                    <hr>
                </div>
        </div>
    



   