<section class="area-login">
            
    <div class="login">     
        
        <div class="logo">
            <img id="logo" src="../../assets/imagem/Logo.svg" alt="">
        </div>
        
        <form method="post">
            <input type="text" name="Nome" placeholder="Usuário" required>

            <input type="password" name="Senha" placeholder="Senha" required>

            <input type="submit" value="Entrar">
        </form>
        <p>Ainda não tenho cadastro <a href="#/">Clique aqui</a></p>
        <p><a href="#"> Clique aqui </a>Esqueci minha senha </p>
    
    </div>

</section>
