  <!-- Cards -->
  
    <div class="container">
        <div class="card">
            <img class="imgJogo" src="../../assets/imagem/games/NBA.png" alt="NBA">
            <div class="content">
                
                <h3>NBA 2K21 Zion Edition - Xbox Series X</h3>
                <p>R$ 89,99</p>
                <a href="#">Mais Informações</a>
            </div>
        </div>
        
        <div class="card">
            <img class="imgJogo" src="../../assets/imagem/games/the_falconeer_day_one_edition_xbox_one_xbox_series.png" alt="Falconeer Day One Edition Xbox one & Xbox Series">
            <div class="content">
                <h3>The Falconeer Day One Edition | Xbox One & Xbox Series X</h3>
                <p>R$ 134,99</p>
                <a href="#">Mais Informações</a>
            </div>
        </div>
        
        <div class="card">
            <img class="imgJogo" src="../../assets/imagem/games/f1_2021_xbox_series_x_xbox_one.png" alt="Formula 1 2021 | X Box">
            <div class="content">
                <h3>Formula 1 2021 | XBox & XBox Series</h3>
                <p>R$ 150,99</p>
                <a href="#">Mais Informações</a>
            </div>
        </div>

        <div class="card">
            <img class="imgJogo" src="../../assets/imagem/games/the_darkness_ii_2_limited_edition_xbox_360.png" alt="The Darkness">
            <div class="content"> 
                <h3>Tony Hawk's Pro Skater 1 + 2 para Nintendo Switch</h3>
                <p>R$ 224,90</p>
                <a href="#">Mais Informações</a>
            </div>
        </div>

        <div class="card">
            <img class="imgJogo" src="../../assets/imagem/games/tonyHalkproskater[1+2].png" alt="Tony Halk 1 + 2">
            <div class="content"> 
                <h3>Tony Hawk's Pro Skater 1 + 2 para Nintendo Switch</h3>
                <p>R$ 224,90</p>
                <a href="#">Mais Informações</a>
            </div>
        </div>
        <div class="card">
            <img class="imgJogo" src="../../assets/imagem/games/NBA.png" alt="NBA">
            <div class="content">
                
                <h3>NBA 2K21 Zion Edition - Xbox Series X</h3>
                <p>R$ 89,99</p>
                <a href="#">Mais Informações</a>
            </div>
        </div>
