       
    <div class="container-row1">
        <div class="row">
            <!--"Caixa de pesquisa -->
            <div class="input-group">
                <hr>
                <form >
                    <div >
                        <!--Botão Busca-->
                        <input type="text" class="form-control" placeholder="Digite aqui o que procura">
                        <button class="btn-busca">
                            Buscar
                        </button>
                    </div>
                </form>
                
                <!--botoes de paginação-->
                
                <div class="group_pag">
                    <!-- Botoes das paginas -->
                    <ul class="paginacao">
                        <li class="pag-item">1</li>
                        <li class="pag-item disabled">2</li>
                        <li class="pag-item disabled">3</li>
                    </ul>
                   
                    <!-- caixa de Ordenação -->
                   
                    <div >
                        <form class="ordenacao">
                            <select class="ordenacao">
                                <option value="">Ordenar por maior valor</option>
                                <option value="">Ordenar por menor Valor</option>
                                <option value="">Ordenar por Nome</option>
                            </select>
                        </form>
                    </div>
                </div>
            
                <hr>
            </div>
    </div>
